<!DOCTYPE html>
<html lang="en">

<head>
  {{!--
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css"> --}}

</head>

<body>
  {{#each data}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
    <img src={{this.urlToImage}} class="card-img-top" alt="...">

  </div>
  {{else
  }}
  <h1>Error</h1>
  {{/each}}

</body>

</html>